<app-slider [nombre]="'Peliculas'" [size]="'small'"></app-slider>

<div class="center">
    <section id=content>
        <div id="favorita" *ngIf="favorita">
            <h2 class="subheader">
                Pelicula favorita
            </h2>
            <h4>
                {{favorita.title | lowercase}}
            </h4>
            {{favorita.year | espar}}
            <br>
            {{fecha | date: 'dd/MM/yyyy'}}
        </div>
        <!--
        <h2 class="subheader">Peliculas</h2>
        <h1>{{titulo}}</h1>
        <button (click)="cambiarTitulo()">Pulsame</button>
        <hr>


        <h2>mostrar primera pelicula</h2>

        {{peliculas[0].title}}

        <hr>

        <h2>Numero de peliculas</h2>
        <div *ngIf="peliculas.length <= 3">
            Hay pocas peliculas:
        </div>
        <div *ngIf="peliculas.length > 3">
            Hay muchas peliculas:
        </div>
        {{peliculas.length}}

        <hr>
        -->
        <!--Listado articulos-->
        <h2 class="subheader">Listado de peliculas</h2>
        <div id="articles" *ngIf="peliculas">
            <div *ngFor="let pelicula of peliculas; let i = index;">
                <app-pelicula
                    [pelicula]="pelicula"
                    (MarcarFavorita)="mostrarFavorita($event)"
                ></app-pelicula>
            </div>
        </div>
    </section>
    <app-sidebar></app-sidebar>
</div>