<div id="slider" [ngClass]="{
    'slider-big': ! size || size == 'big',
    'slider-small': size == 'small'
}">
    <h1>{{nombre}}</h1>
    <a [routerLink]="['/blog']" class="btn-white" *ngIf="!size || size =='big'">Ir al blog</a>
</div>