<h1>{{titulo}}</h1>
<p>{{year}}</p>
<p>{{comentario}}</p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore officiis architecto recusandae alias odit unde molestias facere porro numquam maxime nihil quod, impedit quibusdam. Et temporibus expedita vero nam beatae.
<hr>
<button (click)="ocultarPeliculas()">Ocultar Peliculas</button>
<div *ngIf="mostrarPeliculas">
  <peliculas></peliculas>
</div>
  <app-pruebas></app-pruebas>