<app-slider [nombre]="'Pagina'"></app-slider>

<div class="center">
    <section id=content>
        <h2 class="subheader">Pagina de pruebas</h2>

        <div *ngIf="nombre && apellidos;then siHayParametros else noHayParametros ">
        </div>

        <ng-template #siHayParametros>
            <h2>El nombre es {{nombre}} {{apellidos}}</h2>
        </ng-template>

        <ng-template #noHayParametros>
            <h2>No hay parametros en la url</h2>
        </ng-template>

        <button (click)="redireccion()">ponme nombre</button>
    </section>
    <app-sidebar></app-sidebar>
</div>