<div class="center">
    <section id=content>
        <article class="article-item article-detail" *ngIf="article">
            <div class="image-wrap">
                <!--<img src="https://unhabitatmejor.leroymerlin.es/sites/default/files/styles/header_category/public/2018-10/4%20paisaje%20macedonia.jpg?itok=AELknmF8"
                    alt="Paisaje" />-->
                    <img src="{{url+'get-image/'+article.image}}" alt="{{article.title}}" *ngIf="article.image" />
                    <img src="assets/images/default.png" alt="{{article.title}}" *ngIf="!article.image"/>

            </div>

            <h1 class="subheader">{{article.title}}</h1>
            <span class="date">
                {{article.date | amLocale: 'es' | amTimeAgo}}
            </span>
            <p>
                {{article.content}}
            </p>
            <a [routerLink]="['/blog/editar',article._id]" class="btn btn-warnning">Editar</a>
            <a (click)="delete(article._id)" class="btn btn-danger">Borrar</a>
            <div class="clearfix"></div>
        </article>

    </section>
    <app-sidebar></app-sidebar>
</div>