<div class="center">
    <section id=content>
        <h2 class="subheader">{{page_title}}</h2>
        <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required />
                <small *ngIf="!title.valid && title.touched">
                    Datos no validos
                </small>
            </div>

            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>
                <small *ngIf="!content.valid && content.touched">
                    Datos no validos
                </small>
            </div>
            <div class="form-group">
                <div class="image-thumb" *ngIf="is_edit">
                    <img src="{{url+'get-image/'+article.image}}" alt="{{article.title}}" *ngIf="article.image" />
                    <img src="assets/images/default.png" alt="{{article.title}}" *ngIf="!article.image"/>
    
                </div>
                <angular-file-uploader 
                    [config]="afuConfig"
                    (ApiResponse)="imageUpload($event)"
                ></angular-file-uploader>
            </div>


            <div class="clearfix"></div>
            <br>
            <input type="submit" value="Enviar" class="btn btn-success" [disabled]="articleForm.invalid" />

        </form>
    </section>
    <app-sidebar></app-sidebar>
</div>