<app-slider [nombre]="'Formulario'" [size]="'small'"></app-slider>

<div class="center">
    <section id=content>
        <h2 class="subheader">Formulario</h2>
        <!--
        <div id="datos-al-vuelo" *ngIf="user.nombre">
            <h2>Satos al vuelo</h2>
            <ul>
                <li>{{user.nombre}}</li>
                <li>{{user.apellidos}}</li>
                <li>{{user.bio}}</li>
                <li>{{user.genero}}</li>
            </ul>
        </div>-->
        <form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required pattern="[a-zA-Z]+"/>
                <small *ngIf="!nombre.valid && nombre.touched">
                    Datos no validos
                </small>
            </div>

            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="user.apellidos" required/>
                <small *ngIf="!apellidos.valid && apellidos.touched">
                    Datos no validos
                </small>
            </div>

            <div class="form-group">
                <label for="bio">Biografia</label>
                <textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio" required></textarea>
                <small *ngIf="!bio.valid && bio.touched">
                    Datos no validos
                </small>
            </div>

            <div class="form-group radibuttons">
                <input type="radio" name="genero" value="hombre" #genero="ngModel" [(ngModel)]="user.genero" required/> Hombre 
                <input type="radio" name="genero" value="mujer" #genero="ngModel" [(ngModel)]="user.genero"/> Mujer 
                <input type="radio" name="genero" value="otro" #genero="ngModel" [(ngModel)]="user.genero"/> Otro
                <small *ngIf="!genero.valid && genero.touched">
                    Datos no validos
                </small>
            </div>

            <div class="clearfix"></div>

            <input type="submit" value="Enviar" class="btn btn-success" [disabled]="userForm.invalid"/>

       </form>
        <h2 class="subheader">Eventos</h2>
        <button (click)="hasDadoClick()">Dale clic</button>
        <input type="text" [ngModel]="campo" (blur)="hasSalido()">
        {{campo}}
    </section>
    <app-sidebar></app-sidebar>
</div>